<div class="confirmation">
  <div class="d-flex">
    <div class="icon">
      <mat-icon>warning</mat-icon>
    </div>

    <div>
      <h3>{{"deleteuser"|translate}}</h3>
      <p>{{"deletemessage"|translate}} {{userName}}?</p>
    </div>
  </div>

  <div class="justify-content-end mt-5" mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">{{"no"|translate}}</button>
    <button mat-raised-button color="warn" cdkFocusInitial [mat-dialog-close]="true"
      (click)="deleteAccount()">{{"yes"|translate}}</button>
  </div>
</div>