$main: #010c43;
$second: #FFD119;


$black: #111111;
$white: #ffffff;
$whiteRgb: 255, 255, 255;
$blackRgb: 0, 0, 0;
$gray: #444444;
$grayLight: #DADADA;
$light: #F3F3F3;

$gold: #ff9840;
$green: #56ff99;
$red: #FF4444;

$mainDark: #52c8f1;
