<!-- <footer *ngIf="!hide">
  <div class="container container-footer">
    <div class="d-flex justify-content-center footer-wrapper flex-wrap">
      <span class="span-footer">© {{'copyright' | translate}}</span>
    </div>
  </div>
</footer> -->

<!-- 
<div class="main">
  <div class="nav">
    <div class="nav-slot bg-white round-top-right "> -->
      <!-- <div *ngIf="isAdmin()">
        <a [routerLink]="['/client/payments-due']" routerLinkActive="active" class="floating-button"
          title="{{ 'PaymentsDue' | translate }}">
          <i class="fa-solid fa-wallet fa-fw"></i>

        </a>
        <span>
          {{'PaymentsDue' | translate}}

        </span>
      </div> -->

    <!-- </div> -->
<!-- 
    <div class="nav-slot  curve">
      <div class="footerhome" *ngIf="isSuperAdmin()">
        <a [routerLink]="['/admin/home']" routerLinkActive="active" class="floating-button"
          title=" {{'Home' | translate}}">
          <i class="fa-solid fa-house-chimney"></i>
        </a>
        <span>

          {{'Home' | translate}}
        </span>
      </div> -->

      <!-- <div  class="footerhome" *ngIf="isAdmin()">
        <a [routerLink]="['/admin/home']" routerLinkActive="active" class="floating-button"
          title=" {{'Students' | translate}}">
          <i class="fa-solid fa-house-chimney"></i>

        </a>
        <span>
          {{'Menu' | translate}}
        </span>
      </div> -->

    <!-- </div>
    <div class="nav-slot bg-white round-top-left"> -->
      <!-- <div *ngIf="isAdmin()">
        <a [routerLink]="['/client/my-payments']" routerLinkActive="active" class="floating-button"
          title="{{'Mypayments' | translate}}">
          <i class="fa-solid fa-sack-dollar fa-fw"></i>

        </a>
        <span>

          {{'Mypayments' | translate}}
        </span>
      </div>
    </div>
 -->
<!-- 
  </div>
</div> -->