
.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper{
  @include border-r();
  background-color: var(--grayLight);
  margin: 0px 0;
}
.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix{
  padding: 10px;
}
.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input{height: 35px;}
.mat-mdc-form-field-focus-overlay{display: none;}

[dir=rtl] .mdc-text-field--filled .mdc-floating-label{
  left: initial !important;
    right: 16px !important;
}
[dir=rtl] app-change-name .mdc-text-field__input{text-align: end !important;}
