<div class="rating-list">
  <span class="rating-user-img">
    <app-img alt="user name"
    src="https://edu-demo-vplayed.s3.ap-south-1.amazonaws.com/images/siiovg0ublob-1684401814." className="br-50"></app-img>
  </span>
  <div class="info">
    <h4>Ragi Nagy</h4>
    <ul>
      <li class="number">4</li>
      <li class="rated"><mat-icon matPrefix>star</mat-icon></li>
      <li class="rated"><mat-icon matPrefix>star</mat-icon></li>
      <li class="rated"><mat-icon matPrefix>star</mat-icon></li>
      <li class="rated"><mat-icon matPrefix>star</mat-icon></li>
      <li class=""><mat-icon matPrefix>star</mat-icon></li>
      <li class="time">. 5d ago</li>
    </ul>
    <p class="rating-description"> Good Rate </p>
  </div>
</div>
