<div id="targetElement" class="sidebar-area sidebar__hide border-5 border-danger">
  <div class="sidebar__overlay" (click)="closeSidebar()"></div>
  <a routerLink="/" class="logo mb-40">
    <img src="images/logo/logo-light.svg" alt="logo">
  </a>
  <div class="sidebar__search mb-30">
    <input type="text" placeholder="Search...">
    <i class="fa-regular fa-magnifying-glass"></i>
  </div>
  <div class="mobile-menu overflow-hidden">
    <!-- Menu items -->
  </div>
  <ul class="info pt-40">
    <li><i class="fa-solid primary-color fa-location-dot"></i> <a href="#0">example&#64;example.com</a></li>
    <li class="py-2"><i class="fa-solid primary-color fa-phone-volume"></i> <a
        href="tel:+208-6666-0112">+208-6666-0112</a></li>
    <li><i class="fa-solid primary-color fa-paper-plane"></i> <a href="#0">info&#64;example.com</a></li>
  </ul>
  <div class="social-icon mt-20">
    <li><a href="https://www.facebook.com/share/19TbeLCpd9/?mibextid=LQQJ4d" target="_blank"><i
          class="fa-brands fa-facebook-f"></i></a></li>
    <li><a href="https://x.com/VDCompanyJO" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/company/vd-techs" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    </li>
  </div>
  <button id="closeButton" class="text-white" (click)="closeSidebar()"><i class="fa-solid fa-xmark"></i></button>
</div>
