<section class="counter-area">
            <div class="container-fluid p-0">
                <div class="counter__wrp ">
                    <!-- <div class="counter__shape wow slideInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <app-lazy-load-image [imageSrc]="images/shape/counnter-bg-shape.png" alt="shape" loading="lazy"/>
                    </div> -->
                    <div class="counter__item wow bounceInUp" data-wow-delay="00ms" data-wow-duration="1000ms">
                        <app-lazy-load-image [imageSrc]="'assets/images/icon/counter-icon1.png'" class=" fa-bounce" alt="icon" loading="lazy"/>
                        <div class="content">
                            <h3><span class="count">50</span>+</h3>
                            <p class="text-white">{{"Satisfied Clients" | translate}}</p>
                        </div>
                    </div>
                    <div class="counter__item wow bounceInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
                        <app-lazy-load-image [imageSrc]="'assets/images/icon/counter-icon2.png'" class=" fa-bounce" alt="icon" loading="lazy"/>
                        <div class="content">
                            <h3><span class="count">63</span>+</h3>
                            <p class="text-white">{{"Technical Projects" | translate}}</p>
                        </div>
                    </div>
                    <div class="counter__item wow bounceInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
                        <app-lazy-load-image [imageSrc]="'assets/images/icon/counter-icon3.png'" class=" fa-bounce" alt="icon" loading="lazy"/>
                        <div class="content">
                            <h3><span class="count">27</span>+</h3>
                            <p class="text-white">{{"Consultant Projects" | translate}}</p>
                        </div>
                    </div>
                    <div class="counter__item wow bounceInUp" data-wow-delay="800ms" data-wow-duration="1000ms">
                        <app-lazy-load-image [imageSrc]="'assets/images/icon/counter-icon4.png'" class=" fa-bounce" alt="icon" loading="lazy"/>
                        <div class="content">
                            <h3><span class="count">150</span>+</h3>
                            <p class="text-white">{{"Media Posts" | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
