

<!-- <h1  *ngIf="Islogin"  > logged in .....  </h1>  -->
<!-- <app-course-card></app-course-card> -->
<!-- <app-coming-soon></app-coming-soon> -->
<!-- <app-confirmation-dialog></app-confirmation-dialog> -->
<!-- <app-demo-card></app-demo-card> -->


<!-- <app-navbar></app-navbar> -->
<!-- <app-preloader></app-preloader> -->

<app-banner-area></app-banner-area>
<app-service-area></app-service-area>
<app-about-area></app-about-area>
<app-counter-area></app-counter-area>
<app-case-area></app-case-area>
<app-offer-area></app-offer-area>
<!-- <app-brand-area></app-brand-area> -->
<app-process-area></app-process-area>
<app-footer></app-footer>



